@page
@model Auto_Service.Pages.Services.ServicesModel
@{
	ViewData["Title"] = "Услуги";
}

<br>
<h2>Список услуг</h2>
<a class='btn btn-primary btn-sm' href="/Services/Create">Новая услуга</a>
<table class="table">
	<thead>
		<tr>
			<th>ID</th>
			<th>Наименование</th>
			<th>Цена</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.listServices)
		{
						<tr>
							<td>@item.id</td>
							<td>@item.name</td>
							<td>@item.price</td>
							<td>
								<a class="btn btn-primary btn-sm" href="/Services/Edit?id=@item.id">Редактировать</a>
								<a class="btn btn-danger btn-sm" href="/Services/Delete?id=@item.id">Удалить</a>
							</td>
						</tr>
		}
	</tbody>
</table>
