@page
@model IndexModel
@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать в базу данных автосервиса!</h1>
    <p>Используйте навигацию сверху для настройки!</p>
    <p>Успехов!</p>
</div>
